




h1{
    font-family: "Abadi MT Condensed Light";
    text-alignment: center;
    color: Olivedrab;
    padding: 20px;
    background: lightblue;
    text-decoration-color: aquamarine;
    width: 400px;
    margin: 15px auto;
}

div{

}

p {
    /*margin-bottom: 70px;*/
    font-family: Centaur;
}

.directions {
    border-color: bisque;
    background: Grey;
}

body {
    background: coral;
}

img {
    float: Left;
    width: 80px;

    border-radius: 50%;
}

drop


